{% import 'components/form/fields_macros.html.twig' as fields %}

<form method='POST' enctype='multipart/form-data'>
    <h2>
        {{ __("Import inventory files") }}
    </h2>
    <div class="alert alert-info" role="alert">
        <p>
            {{ __("You can use this menu to upload one or several inventory files. Files must have a known extension (%1\$s).\n")|format(inventory_extensions|join(', ')) }}<br>
            {{ __('It is also possible to upload a compressed archive directly with a collection of inventory files.') }}
        </p>
    </div>
    {{ fields.fileField(
        'inventory_files[]',
        '',
        '',
        {
            'is_horizontal': true,
            'simple': true,
            'no_label': true,
            'multiple': true,
            'required': true,
        }
    ) }}

    <button class="btn btn-primary me-2" type="submit"
            name="upload_inventory" value="1">
        <i class="ti ti-upload"></i>
        <span>{{ _x('button', 'Upload') }}</span>
    </button>

    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
</form>
